@import '~normalize.css';

/* Fonts */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'robotoblack';
    src: url('~@/assets/fonts/roboto-black.woff2') format('woff2'), url('~@/assets/fonts/roboto-black.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'robotobold';
    src: url('~@/assets/fonts/roboto-bold.woff2') format('woff2'), url('~@/assets/fonts/roboto-bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'robotoregular';
    src: url('~@/assets/fonts/roboto-regular.woff2') format('woff2'), url('~@/assets/fonts/roboto-regular.woff') format('woff');
    font-display: swap;
}

/* Helpers */
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.reset-button-css {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

/* Global rules */

html, body
    font-family robotoregular
*
    box-sizing border-box
