/* Project Colors */

$gradient = linear-gradient(90deg, #3E3E3E 0%, #FC7F0C 100%);
$grey = #767676;
$darkGrey = #3E3E3E;
$orange = #FC7F0C;
$lightGrey = #F1F1F1;
$baige = #F7F0E9;

/* Fonts */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'robotoblack';
    src: url('~@/assets/fonts/roboto-black.woff2') format('woff2'), url('~@/assets/fonts/roboto-black.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'robotobold';
    src: url('~@/assets/fonts/roboto-bold.woff2') format('woff2'), url('~@/assets/fonts/roboto-bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'robotoregular';
    src: url('~@/assets/fonts/roboto-regular.woff2') format('woff2'), url('~@/assets/fonts/roboto-regular.woff') format('woff');
    font-display: swap;
}
