/* Project Colors */

$gradient = linear-gradient(90deg, #3E3E3E 0%, #FC7F0C 100%);
$grey = #767676;
$darkGrey = #3E3E3E;
$orange = #FC7F0C;
$lightGrey = #F1F1F1;
$baige = #F7F0E9;

/* Project mixins */
mobile-only() {
    @media (max-width: 767px) {
        {block};
    }
}

tablet() {
    @media (min-width: 768px) {
        {block};
    }
}

tablet-landscape() {
    @media (min-width: 1024px) {
        {block};
    }
}

desktop() {
    @media (min-width: 1280px) {
        {block};
    }
}

desktop-xl() {
    @media (min-width: 1440px) {
        {block};
    }
}
